// Bootstrap variable override
$primary: #8dcaee;
$secondary: #c6a2ff;
$body-bg: #e0e0e0;
$body-color: #606060;
$link-color: lighten($body-color, 10%);
$font-size-root: 18px;
$font-size-base: 1rem;
// End bootstrap variable override

$page-bg: lighten($body-bg, 10%);
$column-round-size: 8px;

// $enable-shadows: true;
// $enable-gradients: true;

@import "./scss/bootstrap.scss";

html {

  body {
    font-family: Arial, sans-serif;

    .page {
      background-color: $page-bg;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      margin: 30px auto;
      padding: 30px;
      width: 90%;
      min-height: 500px;

      .indented {
        padding-left: 1.5em;
        text-indent: -1.5em;
      }

      .left-column {
        background-color: $primary;
        border-right: 1px solid #ccc;
        border-radius: $column-round-size;
        font-size: 0.8em;

        hr {
          border: none;
          border-top: 4px solid white;
          opacity: 80%;
          margin: 20px 0;
          border-radius: 8px;
        }

        .profile-image {
          width: 128px;
          height: 128px;
          border-radius: 20%;
          margin: 8px;
          display: block;
        }

        .main-title {
          color: white;
          margin: 0;
        }

        .personal-info {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: medium;
          color: white;
        }

        .panel-info {
          width: 94%;
          border: 1px solid rgba(242, 242, 242, 0.4);
          border-radius: 10px;
          border-bottom-color: #d9d9d9;
          padding: 20px;
          box-shadow: none;
          margin: 8px;

          h3 {
            font-size: 1.7em;
          }

          &.about-me span,
          &.r-and-d span {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 0.8em;
          }
        }

        .badge {
          color: $secondary;
          background-color: white;
        }
      }

      .right-column {
        padding-left: 30px;

        h3 {
          font-size: 1.4em;
        }

        hr {
          border: none;
          border-top: 4px solid $primary;
          opacity: 80%;
          margin: 20px 0;
          border-radius: 2px;
        }

        .main-content {
          border-radius: $column-round-size;
          border: 1px solid #e0e0e0;
          padding: 30px;
        }

        .card {
          margin: 8px;

          .card-header {
            color: white;
            background-color: $secondary;
          }
        }

        .work-description-header {
          span {
            font-weight: lighter;
            font-size: 0.6rem;
            color: #606060;
          }
        }

        #work-experience-content {
          .work-reference {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            font-weight: lighter;
            font-size: small;
            color: #444;
          }

          .work-description {
            span {
              font-weight: lighter;
              font-size: smaller;
              color: #606060;
            }
          }

          .badge {
            background-color: $secondary;
          }
        }

        span.autorizzazioni {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 0.7em;
        }
      }
    }
  }
}